.discover-page{
    background: color-mix(in srgb, var(--primary-color) 20%, transparent);
    width: 100%;
    height: calc(100vh - 6rem);
    flex-direction: column;
    
    align-items: center;
    padding-left:60px;
    padding-right:60px;
}
* {
  box-sizing: border-box;
}

img{
  width:160px;
  height: 160px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  border-radius: 30px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 20px;
  text-align: center;
  background-color: #CDF6D6;
  border-radius: 2%;
  margin: 10px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}