<div class="discover-page scrollable-container">
<h1 style="color: purple;margin-left: 10px;">Découvrir ...</h1>
<h2 style="color: purple; margin-left: 10px;">Plats les plus populaires chez nos utilisateurs</h2>

<!-- <div class="row" *ngFor="let row of drinkRows" >
  <div class="column" *ngFor="let drink of row">
    <div class="card">
      <p><img [src]="drink.strDrinkThumb"/></p>
      <p>{{drink.strDrink}}</p>
    </div>
  </div>
</div> -->
<div (scroll)="onScroll($event)">
  <div class="row" *ngFor="let row of drinkRows" >
    <div class="column" *ngFor="let drink of row">
      <div class="card">
        <p><img [src]="drink.strDrinkThumb"/></p>
        <p>{{drink.strDrink}}</p>
      </div>
    </div>
  </div> 
</div>



 