.filters, .selected-filters {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow: visible;
    transition: height 1s ease-out;
}

.selected-filter {
    width: auto;
    height: calc(1rem + 0.2rem);
    background-color: var(--tertiary-color);
    padding: 0.7rem 2rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    z-index: 0;
}

.search-button {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem 3rem;
}

.search-button a:hover {
    scale: 1.1;
    transition: all 0.2s ease-in;
}

.search-button a {
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.filters.close {
    height: 0;
    transition: height 1s ease-out;
    overflow: hidden;
}

.selected-filters.close {
    display: none;
}
.selected-filter:hover {
    scale: 1.1;
    transition: all 0.2s ease-in;
}
.filter-remove {
    margin-left: 1rem;
    cursor: pointer;
}
