#search-bar {
    position: relative;
    background-color: var(--tertiary-color);
    padding: 1rem 3rem;
    border-radius: 75px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 6rem);
}

#search-bar input {
    background: none;
    border: none;
    width: 95%;
    color: var(--secondary-color);
    font-size: 1.3rem;
    padding: 10px;
}

#search-bar input::placeholder {
    color: rgba(var(--secondary-color), 0.1);
}

#search-bar input:focus {
    outline: none;
}

#search-bar #search-bar-line {
    position: absolute;
    bottom: 20%;
    left: 7%;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: all 0.2s ease-out;
}
#search-bar input:hover ~ #search-bar-line {
    width: 40%;
}
#search-bar input:focus ~ #search-bar-line{
    width: 80%;
}

#search-bar button {
    background: none;
    border: none;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-out;
}

#search-bar button mat-icon {
    font-size: 2rem;
}

#search-bar button:hover {
    cursor: pointer;
    scale: 1.2;
    transition: all 0.2s ease-out;
}