<img id="loading" src="./assets/images/loading.gif" alt="loading">

<div class="search-page">
    <div class="search-div">
        <div id="back" class="close"></div>
        <app-search-bar [comportment]="search" [searchValue]="searchValue"></app-search-bar>
        <app-filters [service]="cocktailService"></app-filters>
    </div>

    <div class="result-div">
        <div class="result-wrapper">
            <div class="cocktail-div">
                <h1><span *ngIf="!searchValue || searchValue == ''">Cocktail</span>{{searchValue}}</h1>
                <div class="grid-card">
                    <app-card *ngFor="let recipe of cocktail.slice((page - 1) * 20, page * 20), index as index" [recipe]="recipe" style="animation-delay:{{index*0.02}}s"></app-card>
                </div>
            </div>
        </div>
        <div class="button-page" *ngIf="max_page > 1">
            <div class="button-page-wrapper">
                <button class="button" (click)="previousPage()" [ngClass]="page > 1 ? '' : 'disabled'"><</button>
                <div class="page-input">
                    <input type="number" [ngModel]="page" min="1" max="{{max_page}}" (keyup.enter)="setValue($event)"/>
                    <span>Page</span>
                </div>
                <button class="button" (click)="nextPage()" [ngClass]="page < max_page ? '' : 'disabled'">></button>
            </div>
        </div>
    </div>
</div>

<img class="cockty1" src="./assets/images/cockty1.png" alt="cockty1"/>
<img class="cockty4" src="./assets/images/cockty4.png" alt="cockty4"/>