<div class="search-page">
    <div class="search-div">
        <div id="back" class="close"></div>
        <app-search-bar [comportment]="search"></app-search-bar>
        <app-filters [service]="cocktailService"></app-filters>
    </div>

    <div class="result-div">
        <div class="result-wrapper">
            <div class="food-div">
                <h1><span *ngIf="!searchValue || searchValue == ''">Cocktail</span>{{searchValue}}</h1>
                <div class="grid-card">
                    <app-card *ngFor="let recipe of cocktail, index as index" [recipe]="recipe" style="animation-delay:{{index*0.02}}s"></app-card>
                </div>
            </div>
            <div class="cocktail-div"></div>
        </div>
    </div>
</div>

<img class="cockty1" src="./assets/images/cockty1.png" alt="cockty1"/>
<img class="cockty4" src="./assets/images/cockty4.png" alt="cockty4"/>