.home-page {
    width: 100%;
    height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: color-mix(in srgb, var(--primary-color) 20%, transparent);
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    padding-bottom: 3rem;
}

app-search-bar {
    width: 40%;
    margin-bottom: 10%;
}