<div class="home-page">
    <h1> {{ appTitle }} </h1>

    <app-search-bar style="margin-top: 900px; position: absolute;" [comportment]="navigateToSearchPage"></app-search-bar>
    <div class=" div-scrollable-vertical">
    <div class="card" *ngFor ="let item of searchCocktailFeed.drinks" >
  
      <img *ngIf="searchCocktailFeed.drinks" [src]="item.strDrinkThumb" [routerLink]="['/recipe/food/', item.idDrink]"alt="Avatar" style="width:100%">
    
      <div class="container">
        <h4><b>{{item.strDrink}}</b></h4> 
      </div>
    </div>
  </div>
