.home-page {
    width: 100%;
    height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: color-mix(in srgb, var(--primary-color) 20%, transparent);
}
.div-scrollable-vertical {
    max-height: 300px; /* Hauteur maximale avant que le défilement ne s'active */
    overflow-y: auto; /* Active une barre de défilement si nécessaire */
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    padding-bottom: 3rem;
    padding-top: 50px;
}

app-search-bar {
    width: 40%;
    margin-bottom: 10%;
}

.feed{
    align-self: flex-start;
    padding-left: 10px;
    padding-top: 10px;
    color: purple;
    border-radius: 5px;
    background-color:white;
    width:auto;
    height: auto;
    margin:300px;
}

.title{
    font-weight: bold;
}
.scrollable-container{
    overflow: scroll;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card-content {
    padding: 2px 16px;
}