<div class="home-page">

    <app-search-bar style="margin-top: 0px;" [comportment]="navigateToSearchPage"></app-search-bar>

    <div class = "food-items">
      <div  *ngFor="let item of searchCocktailFeed.drinks" class = "food-item featured" [routerLink]="['/recipe/food/', item.idDrink]">
        <div class = "food-img">
          <img [src] = "item.strDrinkThumb" alt = "food image">
        </div>
        <div class = "food-content">
          <h2 class = "food-name">{{item.strDrink}}</h2>
          <div class = "line"></div>
          <h3 class = "food-price">$25.00</h3>
          <ul class = "rating">
            <li><i class = "fas fa-star"></i></li>
            <li><i class = "fas fa-star"></i></li>
            <li><i class = "fas fa-star"></i></li>
            <li><i class = "fas fa-star"></i></li>
            <li><i class = "far fa-star"></i></li>
          </ul>
          <p class = "category">Categories: <span>Featured</span></p>
        </div>
      </div>


