<div >
    <div >
        <app-search-bar [comportement]="searchName"></app-search-bar>
    </div>
    <div >
        <div >
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
        </div>
        <div >
            <div >
                <h1>Cocktails</h1>
                <div >
                    <div ></div>
                    <app-card *ngFor="let cocktail of cocktail " [recipe]="cocktail"></app-card>
                    <div ></div>
                </div>
            </div>
            <div ></div>
        </div>
        <div >
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
        </div>


    
  
    
  </div>
  