<div class="search-page">

    <div class="search-div">
        <app-search-bar [comportment]="searchName"></app-search-bar>
    </div>

    <div class="result-div">
        <div class="blur-wall blur-wall-left">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="result-wrapper">
            <div class="cocktail-div">
                <h1>Cocktail</h1>
                <app-carrousel [recipes]="cocktail"></app-carrousel>
            </div>
            <div class="cocktail-div"></div>
        </div>
        <div class="blur-wall blur-wall-right">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


</div>
