<div class="search-page">
    <div class="search-div">
        <div id="back" class="close"></div>
        <app-search-bar [comportment]="search"></app-search-bar>
        <app-filters [service]="cocktailService"></app-filters>
    </div>

    <div class="result-div">
        <div class="blur-wall blur-wall-left">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="result-wrapper">
            <div class="cocktail-div">
                <h1>Cocktail</h1>
                <app-carrousel [recipes]="cocktail"></app-carrousel>
            </div>
            <div class="cocktail-div"></div>
        </div>
        <div class="blur-wall blur-wall-right">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
