mat-toolbar {
  background-color: var(--primary-color);
  padding: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* 1fr pour les espaces à gauche et à droite, auto pour le centre */
  align-content: center;
  justify-content: space-between; /* Pour aligner les éléments en les espacant */
}

mat-toolbar div {
  display: flex;
  align-items: center;
  gap: 1em;
}

mat-toolbar div:last-child {
  justify-content: right;
}


mat-toolbar button, span {
  background: none;
  border: none;
  font-size: 1.3rem;
  font-weight: 400;
  vertical-align: center;
  color: var(--secondary-color);
}

mat-toolbar img {
  height: auto;
  width: 2rem;
  cursor: pointer;
}


.nav-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  position: relative;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.nav-button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: #e74c3c;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
  transform-origin: right;
}

.nav-button:hover {
  transform: translateY(-3px);
}

.nav-button:hover::before {
  width: 33%;
}

.nav-button:active {
  transform: translateY(1px);
}

.nav-button:active::before {
  width: 100%;
}
