<mat-toolbar>
  <div>
    <button class="logo" aria-label="Logo icon" routerLink="../home">
      <img src="assets/images/logo.png" alt="logo" height="1785" width="1609"/>
    </button>
    <span>{{ appName }}</span>
  </div>
  <div>
    <button class="nav-button" aria-label="Discover" routerLink="../discover">Découvrir</button>
    <button class="nav-button" aria-label="Food" routerLink="../food">Food</button>
    <button class="nav-button" aria-label="Search" routerLink="../home">Cocktails</button>
  </div>
  <div>
    <button class="nav-button" aria-label="Example icon-button with heart icon">Mes Recettes</button>
    <button mat-icon-button class="logo" aria-label="Logo icon" routerLink="../home">
      <img src="assets/images/account.png" alt="account menu"/>
    </button>
  </div>
</mat-toolbar>
