.discover-page {
  width: 100%;
  padding-top: 2.5rem;
}

h1 {
    margin: 2rem 5rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.result-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    position: relative;
    padding-bottom: 2rem;
}

h2{
  margin-left: 10rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--secondary-color);
  padding-bottom: 0.5rem;
}