<div class="search-page">

    <div class="search-div">
        <app-search-bar [comportment]="searchRecipes" [searchValue]="searchValue"></app-search-bar>
    </div>

    <div class="result-div">
        <div class="result-wrapper">
            <div class="food-div">
                <h1>Food</h1>
                <div class="grid-card">
                    <app-card *ngFor="let recipe of recipes" [recipe]="recipe"></app-card>
                </div>
            </div>
            <div class="cocktail-div"></div>
        </div>
    </div>


</div>
